body{
    font-family: 'Roboto';
}
.titulo {
    margin: 5% 0;
}

.tituloPagina {
    text-align: start;
    font-weight: 300;
}

.container {
    width: 90%;
    margin: 1% auto 5% auto;
    padding: 1%;
    text-align: center;
}

.lista-corte {
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.corte {
    margin-right: 2%;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 1%;
}

.informacoes {
    text-align: left;
    padding: 1%;
}

button:hover {
    cursor: pointer;
}

button {
    transition-duration: 0.5s;
    padding: 3%;
    font-size: medium;
    width: 30%;
    height: 30%;
    color: #fff;
    border: none;
    border-radius: 10px;
}

button.panic:hover {
    background-color: #fff;
    color: #CC3E3E;
    border: 1px solid#CC3E3E;
}

button.panic {
    background-color: #CC3E3E;
    font-weight: bolder;
}

button.restart {
    background-color: #036;
}

button.restart:hover {
    background-color: #fff;
    color: #036;
    border: 1px solid#036;
}

.acao {
    margin-top: 3%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

.numeroCorte {
    text-align: start;
    background-color: #ddd;
    width: fit-content;
    padding: 5%;
    margin-left: 1%;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(49, 65, 145);
    border-radius: 50%;
}